@import '../../layouts/theme.scss';

.post-preview-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0 !important;

    button {
        background-color: $md-primary-color;
        &:hover {
            background-color: lighten( $md-primary-color, 3% );
        }
    }

    .overlay {
        background-color: $md-secondary-color;
        opacity: 0.9;
    }
}
