@import '../../layouts/theme.scss';

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: 10px 0;

        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
    }

    .about-text {
        max-width: 640px;
        margin: 20px 0 !important;

        @media (max-width: 360px - 1px) {
            margin: 5px 0 !important;
        }
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid $md-black-base;
        border-style: dashed;
        padding: 10px;
    }
}
