@import '../../layouts/theme.scss';

.footer {
    justify-content: center;
    align-content: center;
    background-color: $md-primary-color;
    padding: 5px 5px 5px;    

    .notice-container {
        display: flex;
        align-content: center;
        align-items: center;

        .copyright {
            display: flex;
            flex: 1;
            justify-content: flex-start;

            @media (max-width: 640px - 1px) {
                justify-content: center;
            }
        }

        .rss {
            color: $md-white-base;
            display: flex;

            @media (max-width: 640px - 1px) {
                display: none;
            }

            flex: 1;
            justify-content: center;

            button {
                color: $md-white-base;
            }
        }

        .based-on {
            display: flex;

            @media (max-width: 640px - 1px) {
                display: none;
            }

            flex: 1;
            justify-content: flex-end;
        }

        h4 {
            color: $md-white-base;
            text-align: center;
            margin: 0;
        }

        a {
            color: $md-tertiary-color;
            font-weight: bold;
        }

        .fa-rss {
            color: $md-white-base;
        }
    }
}
