@import '../../layouts/theme.scss';

.toolbar-actions {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    color: $md-tertiary-color;

    .userlinks-container {
        @media (max-width: 640px - 1) {
            display: none;
        }
    }
}
