* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

// To be put into a new components .scss file
.primary-typo {
    margin-top: 100px;
    font-size: 180px;
    font-family: 'Miniver', cursive;
    color: pink;
}

.secondary-typo {
    font-size: 60px;
    font-family: 'Lato';
    color: #1FBCD2;
}

.tertiary-typo {
    font-size: 30px;
    color: grey;
}

.intro-container {
    margin-left: 100px;
    margin-bottom: 100px;    
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons|Miniver|Lato');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;
