@import '~react-md/src/scss/react-md';

$md-light-theme: true; // optional for light theme
$md-primary-color: $md-cyan-500;
$md-secondary-color: $md-pink-300;
$md-tertiary-color: $md-pink-50;

.main-container {
    background-color: $md-white-base;
}

a:link {
    text-decoration: none;
}