@import '../../layouts/theme.scss';

.post-suggestions {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    background-color: darken($md-secondary-color, 5%);

    .hide-on-mobile {
        @media (max-width: 360px - 1px) {
            display: none;
        }
    }

    .post-suggestion {
        display: flex;
        align-items: center;
        margin: 0 15px;
        color: $md-secondary-color !important;

        .headline-container {
            margin-right: 10px;
            margin-left: 10px;
        }

        .arrow-nav {
            margin-top: 15px;
        }
    }

    .tertiary-color {
        color: $md-tertiary-color !important;
    }
}
